<!-- wp:template-part {"slug":"main-header","theme":"vehicle-rental","tagName":"header"} /-->

<!-- wp:group -->
<div class="wp-block-group">

<!-- wp:pattern {"slug":"vehicle-rental/default-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main id="content" class="wp-block-group">

<!-- wp:pattern {"slug":"vehicle-rental/404"} /-->

</main>
<!-- /wp:group -->


</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"vehicle-rental","tagName":"footer"} /-->