<!-- wp:template-part {"slug":"main-header","theme":"vehicle-rental","tagName":"header"} /-->

<!-- wp:pattern {"slug":"vehicle-rental/main-banner"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main id="content" class="wp-block-group">

<!-- wp:pattern {"slug":"vehicle-rental/car-tab-section"} /-->

<!-- wp:pattern {"slug":"vehicle-rental/blog-section"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"vehicle-rental","tagName":"footer"} /-->