<!-- wp:template-part {"slug":"main-header","theme":"vehicle-rental","tagName":"header"} /-->

<!-- wp:pattern {"slug":"vehicle-rental/post-header-with-background"} /-->

<!-- wp:group {"align":"full","tagName":"main","className":"main-page","layout":{"inherit":true,"contentSize":"80%","justifyContent":"center"}} -->
<main id="content" class="wp-block-group main-page alignfull"><!-- wp:post-content {"className":"page-content","fontFamily":"inter"} /-->
  
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"vehicle-rental","tagName":"footer"} /-->